{% include "header.html" %}

{% include "menu.html" %}

<div id="content">
<div id="main_column">
<h1>Josephine</h1>
    Hello, world. This is the index of josephine.
    <br>
    <br>

<div id="books">
{% if highlight_books %}
    <h2>{{ highlight_shelf | title }}</h2>
    {% for book in highlight_books %}
        <div class="single-book"><a href="{% url 'booklist:detail' book.id %}">{{ book }}</a></div>
    {% endfor %}
{% endif %}

    <h2>Latest books</h2>

{% if latest_books %}
    {% for book in latest_books %}
        <div class="single-book"><a href="{% url 'booklist:detail' book.id %}">{{ book }}</a></div>
    {% endfor %}
{% else %}
    <p>No books are available.</p>
{% endif %}

<h2>Recent updates</h2>
{% if recent_updates %}
    <ul>
    {% for update in recent_updates %}
        <li class="update">{{ update.date }}<br>{{ update.book }}<br>{{update.description}}</li>
    {% endfor %}
    </ul>
    <a href="">More updates</a> | <a href="">RSS feed</a>
{% else %}
    <p>No recent updates.</p>
{% endif %}
</div>

</div>
</div>
