{% include "menu.html" %}

<h2>{{ book.title }} </h2>

<h3>Book info</h3>
<ul>
<li>Title: {{book.title}}</li>
<li>Author: {{book.author}}</li>
{% if book.orig_title %}<li>Original title: {{book.orig_title}}</li>{% endif %}
{% if book.ISBN13 %}<li>ISBN13: {{book.ISBN13}}</li>{% endif %}
{% if book.ISBN10 %}<li>ISBN10: {{book.ISBN10}}</li>{% endif %}
{% if book.lang %}<li>Language: {{book.lang}}</li>{% endif %}
{% if book.publisher %}<li>Publisher: {{book.publisher}}</li>{% endif %}
{% if book.binding %}<li>Binding: {{book.binding}}</li>{% endif %}
{% if book.pages %}<li>Pages: {{book.pages}}</li>{% endif %}
{% if book.pubdate %}<li>Publication date: {{book.pubdate}}</li>{% endif %}
{% if book.summary %}<li>Summary: {{book.summary}}</li>{% endif %}
{% if current_status %}<li>Current status: {{ current_status.new_status }}</li>{% endif %}
{% if rating %}<li>Rating: {{ rating.rating }} stars</li>{% endif %}
</ul>


{% if book.shelves %}
<h3>Shelves</h3>
<ul>
{% for shelf in book.shelves.iterator %}
<li>{{shelf}}</li>
{% endfor %}
</ul>
{% endif %}


{% if read_dates %}
<h3>Date read</h3>
<ul>
{% for date in read_dates %}
<li>{{date.date }}</li>
{% endfor %}
</ul>
{% endif %}

{% if status_updates %}
<h3>Status updates</h3>
<ul>
{% for update in status_updates %}
<li>{{ update.date.date }}: {{ update.new_status }}</li>
{% endfor %}
</ul>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Rate this book</h3>
<form action="{% url 'booklist:rate' book.id %}" method="post">
{% csrf_token %}
{% with ''|center:5 as range %}
{% for _ in range %}
    <input type="radio" name="stars" id="choice{{ forloop.counter }}" value="{{ forloop.counter }}">
    <label for="choice{{ forloop.counter }}">{{ forloop.counter }}</label><br>
{% endfor %}
{% endwith %}
<input type="submit" value="Rate">
</form>

<a href="{% url 'booklist:all' %}">Show all books</li>
