{% include "header.html" %}

{% include "menu.html" %}

{% load static %}

<div id="content">

<div id="main_column">
<h2>{{ book.title }} </h2>

<h3>Book info</h3>
<div class="book_property">Title: {{book.title}}</div>
<div class="book_property">Author: {{book.author}}</div>
{% if book.orig_title %}<div class="book_property">Original title: {{book.orig_title}}</div>{% endif %}
{% if book.ISBN13 %}<div class="book_property">ISBN13: {{book.ISBN13}}</div>{% endif %}
{% if book.ISBN10 %}<div class="book_property">ISBN10: {{book.ISBN10}}</div>{% endif %}
{% if book.lang %}<div class="book_property">Language: {{book.lang}}</div>{% endif %}
{% if book.publisher %}<div class="book_property">Publisher: {{book.publisher}}</div>{% endif %}
{% if book.binding %}<div class="book_property">Binding: {{book.binding}}</div>{% endif %}
{% if book.pages %}<div class="book_property">Pages: {{book.pages}}</div>{% endif %}
{% if book.pubdate %}<div class="book_property">Publication date: {{book.pubdate}}</div>{% endif %}
{% if book.summary %}<div class="book_property">Summary: {{book.summary}}</div>{% endif %}
{% if current_status %}<div class="book_property">Current status: <a href="{% url 'booklist:status' current_status.id %}">{{ current_status }}</a></div>{% endif %}
{% if rating %}<div class="book_property">Rating: {{ rating }} stars</div>{% endif %}


{% if book.shelves %}
<h3>Shelves</h3>
{% for shelf in book.shelves.iterator %}
<div class="book_property"><a href="{% url 'booklist:shelf' shelf.id %}">{{shelf}}</a></div>
{% endfor %}
{% endif %}


{% if read_dates %}
<h3>Date read</h3>
{% for date in read_dates %}
<div class="book_property">{{date.date }}</div>
{% endfor %}
{% endif %}

{% if status_updates %}
<h3>Status updates</h3>
{% for update in status_updates %}
<div class="book_property">{{ update.date.date }}: {{ update.description }}</div>
{% endfor %}
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h3>Rate this book</h3>
<form action="{% url 'booklist:rate' book.id %}" method="post">
{% csrf_token %}
{% with ''|center:5 as range %}
{% for _ in range %}
    <input type="radio" name="stars" id="choice{{ forloop.counter }}" value="{{ forloop.counter }}">
    <label for="choice{{ forloop.counter }}">{{ forloop.counter }}</label><br>
{% endfor %}
{% endwith %}
<input type="submit" value="Rate">
</form>

<a href="{% url 'booklist:all' %}">Show all books</a>
</div>

<div id="right_bar">
{% if book.cover %}
<img class="bookcover" src="{{book.cover.url}}" />
{% endif %}
</div>

</div>
</div>
